body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
}
    .loading{
    font-size: 1.2rem;
    

}
.loading_author{
    font-size: 0.9rem;
    font-weight: normal;
   color:cadetblue (141,141, 193,1);
}
.loading_anim{
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgb( blue);
    border-radius: 50%;

}


